In [1]:
import pandas as pd
from googletrans import Translator, constants
from pprint import pprint

In [2]:
df = pd.read_excel('text_reviews_processed.xlsx')

In [3]:
reviews_1000 = df.dropna().head(1000)
reviews_1000

,Unnamed: 0,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_clean
0,0,2539,55688172,2015-12-04,25160947,Peter,Great host,great host
1,1,2539,97474898,2016-08-27,91513326,Liz,Nice room for the price. Great neighborhood. J...,nice room price great neighborhood john accomm...
2,2,2539,105340344,2016-10-01,90022459,Ð•Ð²Ð³ÐµÐ½Ð¸Ð¹,Very nice apt. New remodeled.,very nice apt new remodel
3,3,2539,133131670,2017-02-20,116165195,George,Great place to stay for a while. John is a gre...,great place stay john great host great man hou...
5,5,2539,157777930,2017-06-04,1806142,Isaac,I really enjoyed my time here in deep south Br...,i really enjoyed time deep south brooklyn john...
...,...,...,...,...,...,...,...,...
1003,1003,6848,12717,2009-10-07,30985,Eyal,We stayed 3 nights with our two kids (13 and 1...,stay night kid place warm comfort irina allen
1004,1004,6848,19080,2009-12-04,46832,Stephane,Un appartement Ã 5 minutes du metro et seulem...,un appartement ã minute du metro seulement ã d...
1005,1005,6848,19286,2009-12-06,44462,Lydia & Jacques,We stayed only a (too) short weekend. It was r...,stay short weekend really nice first experienc...
1006,1006,6848,23837,2010-01-11,24256,Rachel,Loved the location and the apartment was clean...,love location apartment clean tidy perfect siz...
1007,1007,6848,26620,2010-02-17,65178,Jeanine,We had a great stay. We accidentally arrived a...,great stay accidentally arrive little early ir...

In [16]:
# init the Google API translator
translator = Translator()

In [17]:
# translate a spanish text to english text (by default)
translation = translator.translate("Hola Mundo", src= 'auto',  dest = 'en')

translation.text

'Hello World'

In [18]:
# detect a language
detection = translator.detect("hello")

print("Language code:", detection.lang, type(detection.lang))

print("Confidence:", detection.confidence)

Language code: en <class 'str'>
Confidence: 1

In [19]:
def is_foreign_lang(text):
    translator = Translator()
    translator.detect(text)
    if detection.lang == 'en':
        return False
    else:
        return True

def detect_lang(text):
    detection = translator.detect(text)
    return(detection.lang)

def translate(text):
    translation = translator.translate(text, src= 'auto',  dest = 'en')
    return translation.text

In [20]:
is_foreign_lang('hello')

False

In [21]:
df['comments_clean'].astype('string')

0                                                 great host
1          nice room price great neighborhood john accomm...
2                                  very nice apt new remodel
3          great place stay john great host great man hou...
4                                                       <NA>
                                 ...
1048570    great stay clean wish front door keep open als...
1048571                                          place great
1048572                   have great stay clean amenity need
1048573    nancy great host communicative responsive apar...
1048574                                 amaze host love stay
Name: comments_clean, Length: 1048575, dtype: string

In [25]:
%%time
reviews_1000['detected_language'] = df['comments_clean'][:1000].apply(lambda review : detect_lang(review))

Wall time: 1min 45s

In [26]:
reviews_1000

,Unnamed: 0,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_clean,detected_language
0,0,2539,55688172,2015-12-04,25160947,Peter,Great host,great host,en
1,1,2539,97474898,2016-08-27,91513326,Liz,Nice room for the price. Great neighborhood. J...,nice room price great neighborhood john accomm...,en
2,2,2539,105340344,2016-10-01,90022459,Ð•Ð²Ð³ÐµÐ½Ð¸Ð¹,Very nice apt. New remodeled.,very nice apt new remodel,en
3,3,2539,133131670,2017-02-20,116165195,George,Great place to stay for a while. John is a gre...,great place stay john great host great man hou...,en
5,5,2539,157777930,2017-06-04,1806142,Isaac,I really enjoyed my time here in deep south Br...,i really enjoyed time deep south brooklyn john...,en
...,...,...,...,...,...,...,...,...,...
1003,1003,6848,12717,2009-10-07,30985,Eyal,We stayed 3 nights with our two kids (13 and 1...,stay night kid place warm comfort irina allen,NaN
1004,1004,6848,19080,2009-12-04,46832,Stephane,Un appartement Ã 5 minutes du metro et seulem...,un appartement ã minute du metro seulement ã d...,NaN
1005,1005,6848,19286,2009-12-06,44462,Lydia & Jacques,We stayed only a (too) short weekend. It was r...,stay short weekend really nice first experienc...,NaN
1006,1006,6848,23837,2010-01-11,24256,Rachel,Loved the location and the apartment was clean...,love location apartment clean tidy perfect siz...,NaN
1007,1007,6848,26620,2010-02-17,65178,Jeanine,We had a great stay. We accidentally arrived a...,great stay accidentally arrive little early ir...,NaN

In [23]:
%%time
#df['translation'] = df['comments_clean'].apply(lambda review : translate(review) if (df['detected_language'] != 'en') else review)

Wall time: 0 ns

In [24]:
df[['detected_language', 'comments_clean']][:1000]

KeyError: "['detected_language'] not in index"

In [ ]:
df.drop(df.loc[df['detected_language' != 'en']])